*{

    font-family: 'Calibri';

}
html {
  height: 100%;
  min-height: 100%;
    padding: 0; 
     margin: 0;
     overflow-x:hidden;
}
body {
    background-image: url(images/bg2.jpg); 
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

padding: 0; 
     margin: 0;
   } 
#wrap_preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px auto;
    background: white;
    z-index: 99999999;
    text-align: center;
    letter-spacing: 5px;
    font-family: arial;
    font-size: 50px;
    padding-top: 260px;
  }
  #wrap_preloader  img {

        text-align: center;
        width:400px;
  }
.container {
  overflow-x:hidden;
}
/*******************************************************/
                      /*HEADER*/
/*******************************************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    text-align: center;     
  }

ul {
    list-style-type: none;
    margin: 1em 2em 0 2em;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px 10px 1px 10px;
    text-transform:uppercase;
    text-decoration: none;
    margin:5px;
}

li a:hover:not(#button) {
    text-decoration: none;
  color:green;
}
li a:focus {
color:green;
   text-decoration: none;

}
.active {
    background-color: white ;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    position: fixed;
  }
.black{
color:black;
}
.black_border{
border: 1px solid black;

}
.center{
margin-left: 32%; 

}
.oval_border{
color:white;
background-color: rgb(11,158,11);
	border-radius: 15px;
}
.square_border{
border: 1px solid white;
font-size: 10pt;
margin-right: 10px;

}
.arrow-down {
    display: block;
    position: absolute;
    right: 50%;
    z-index: 999;
    cursor: pointer;
}


#video-container  {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  z-index
}

#video-container video,
.video-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  z-index:-500;

}
#video-container .video-content .inner {
  height: 100%;
  width: 100%;
  display: flex;
  padding-top:15em;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-transform: uppercase;

}

/*LOGIN FORM*/
  

.login-button{
  background:#ff9900;
  border:none;
  padding:12px 26px;
  border-radius:2px;
  color:white;
  margin:10px auto;
  cursor:pointer;
  font-weight:bold;
}

.login-button:hover{
  background:#ff9900;
}

 .login-button a{
  text-decoration:none;
  color:#ff9900;
}

#modal-box {
  width:500px;
  margin: 0 auto;
  background:white;
}

.close {
  display:none;
  float: right;
  font-size: 46px;
  margin-right: 18px;
  color: grey;
  cursor:pointer;
}

#panel {
  text-align:center;
}

#tabbox{
    text-align: center;
    margin: 0 auto;
    padding: 4% 0% 0%;
    width: 94%; 
}

.tab {
  background: #505050;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  width: 46%;
  font-weight: bold;
}


.tab:hover{
  background:#3a3a3a; 
}

#tabbox a {
  color: white;
  margin: -3px;
  padding: 1%;
  text-decoration: none;
}

.signup {
  margin-left: 1px;
}

.login-select {
  background-color:#ff9900;
}

.login-select:hover{
  background-color:#ff9900;
}

#login{
  margin-left:-2px; 
}

#signupbox {
  padding: 10px 10px 36px;
  height: 100%;
  background-color: #FFF;
  margin-top: 1%;
}
#signupbox button{

margin-top: 25px;
}

#loginbox {
  padding: 10px 10px 36px;
  height: 100%;
  display: none;
  background-color: #FFF;
  margin-top: 1%;
}

#forgetbox {
  padding: 10px 10px 36px;
  height: 100%;
  display: none;
  background-color: #FFF;
  margin-top: 1%;
}

.video-container .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

#signupbox input{
    width: 90%;
    margin: 2% auto;
    padding: 2%;  
  border: none;
    background: #e6e6e6;
}

#loginbox input{
    width: 90%;
    margin: 2% auto;
    padding: 2%;  
    border: none;
    background: #e6e6e6;
}
#loginbox button{

margin-top: 25px;
}

#forgetbox input{
    width: 90%;
    margin: 2% auto;
    padding: 2%;  
    border: none;
    background: #e6e6e6;
}

#signupbox input::-webkit-input-placeholder, #loginbox input::-webkit-input-placeholder, #forgetbox input::-webkit-input-placeholder{
    color:grey; 
}

#loginbox a{
  display:block;
  margin: 2% 2% 4%; 
}

#signupbox button, #loginbox button, #forgetbox button{
    background: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
    width: 90%; 
}
/*******************************************************/
                /*CONTENT FIRST BLOCK*/
/*******************************************************/
.titles {
    color:black;
}

.center-block {
   
      text-align: center;
      
 }
 .center-block h1 p{
width:50%;


 }
.center-block h1{
    color:black ;
    margin-bottom:30px;
 
}
.center-block p{
    width:100%;
    font-size: 10pt;
 
}
#button{
    text-decoration: none;
}
#button:focus{
    text-decoration: none;
    color:white;
}



/* Content second block */
/*******************************************************/
/*******************************************************/
.service {
    background-color: #f2f4f4;
    color:black;
    padding-bottom: 50px;


}

.block_service{  
    width: 16em;
    height: 385px;
    padding:10px;
    background-color:white;
    box-shadow:  0 0 5px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}


.block_service p{

     font-size: 10pt;
}
.float_left p{
    margin: 0;
    font-size: 10pt;
}
.width_lalf{
    width:50%;
}
.margin_left{

    margin-left: 5;
}
.white{
    background-color: white;
    width:100%;
    padding:40px;  
}
#wrapper2 {


}
#div1,#div2,#div3,#div4{
  margin: 25px;
  float: left;
}
#wrapper2 #div1,#div2,#div3,#div4{
   opacity: 0.01;
}
 .title {
    height: 50px;
}
.title + div {
    height: 70px;
}
.line {
    width: 100%; 
    background-color:#746b6b;
    opacity:0.5;
}


/*******************************************************/
/*Button*/
/*******************************************************/
#wrapper2 button{
    cursor: pointer;
    clear: both;
    border-radius: 3px;
    width:80%;
    display: inline-block;
    margin:30px 0 0 0;
    transition: all 0.8s, color 0.3s 0.3s;
    border-radius: 35px;
    background:transparent;
    border:2px solid #ff9900;
    background-color: #ff9900;
    color: white;
}
#wrapper2 button:hover{
  color:black;
}

#wrapper2 button:focus{
  color:black;
}
.slideRight:hover{
  box-shadow:inset -200px 0 0 0 #fff;
}


/*******************************************************/
                    /*ABOUT US*/
/*******************************************************/
.about_us{
    height:500px;
    width:100%;
}
.center_block p{

    width:80%;
}
.wrapper {
 
  transform: translate(0, 0);
}

.wrapper a {
line-height: 20px;
padding:20px;
  text-decoration: none;
  color: #fff;

}
.wrapper p {
padding:20px;
text-align: justify;
font-size: 13pt;
}

.wrapper a:before,
.wrapper a:after {
  position: absolute;
  content: "";
  transition: all 0.25s;
}

.wrapper a:before {
  border-bottom: 5px solid #ff9900;
  border-left: 5px solid #ff9900;
  width: 9%;
  height: 33%;
  left: 0px;
  bottom: 0px;
}

.wrapper a:after {
  border-top: 5px solid #ff9900;
  border-right: 5px solid #ff9900;
  width: 10%;
  height: 33%;
  padding:20px;
  top: 0px;
  right: 0px;
}

.wrapper a:hover:before {
  width: 100%;
  height: 100%;
 
}

.wrapper a:hover:after {
  width: 100%;
  height: 100%;
}


/*******************************************************/
                    /*COUNTER*/
/*******************************************************/
.counter {
    font-size: 60px;
    color: #ff9900;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
 .counterBoxDetails {
    color: black;
    font-size: 15px;
}
/* Scroll up */
#scrollup {
  width: 48px;
  height: 48px;
  background: url("images/top2.png") ;
  text-indent: -9999px;
  display: none;
  position: fixed;
  bottom: 120px;
  right:5%;
}
/*******************************************************/
                    /*COMMENTS*/
/*******************************************************/
.comments{
  background-color: #f2f4f4;
}
.comments h1 {
   font-weight: 650;
}
/*******************************************************/
                    /*COMMENTS*/
/*******************************************************/
.delivery{
background-color: white;
text-align: center;
 padding-bottom: 50px;
 overflow: hidden;
}
.delivery h1 {
   font-weight: 600;
}
.delivery img {
margin-left: 1%;
  height:150PX;
  margin-left: :20px;

}
/*******************************************************/
                    /*FEEDBACK*/
/*******************************************************/
.feedback{
  background-color: #f2f4f4;
  padding: 20px;
  padding-bottom: 50px;
}
.feedback h1 {
   font-weight: 600;
   margin-bottom: 40px;
 }
#feedback form { max-width:420px; margin:0px auto; }
#feedback  form input {
  height: 30px;
}
.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  border-radius: 5px;
  border-radius: 10px;
  border:1px solid #B5B5B5;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.feedback-input:focus { border:2px solid #EF9A1F; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  overflow: hidden;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#ff9900;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:20px;
  padding:2px;
  padding-bottom:10px;
  transition: all 0.3s;
  font-weight:700;
  height: 30px;
}
[type="submit"]:hover { background:#EF9A1F; }
/*******************************************************/
                    /*FOOTER*/
/*******************************************************/
.site-footer, .page-wrap:after {
   
   text-align: center;

}
.site-footer {
  background: white;
}
.site-footer .row {
  padding:40px 0 40px 0;
  margin-bottom: 0;
}
.site-footer a {
  text-decoration: none;
  cursor: pointer;
}
.site-footer a:hover{
  color: #ff9900;
}
.site-footer img{
  width: 20px;
  margin:6px;

}
.footer_name {
text-align: center;
  padding:0 0 12px 0;
  border-bottom: 1px solid black;

}
